# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/test_all/node_modules
/test_all/.pnp
/test_all/.pnp.js

# testing
/test_all/coverage

# production
/test_all/build

# misc
/test_all/.DS_Store
/test_all/.env.local
/test_all/.env.development.local
/test_all/.env.test.local
/test_all/.env.production.local

/test_all/npm-debug.log*
/test_all/yarn-debug.log*
/test_all/yarn-error.log*
